// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.own-photo {
    width: 160px;
    height: 200px;
}
.big-checkbox {
    height: 17px;
    width: 17px;
}
.big-label-checkbox {
    font-size: 1.2rem;
}
.cookie {
    background-color: #020101;
    opacity: 0.7;
    width: 100%;
    height: 15rem;
    position: fixed;
    top: 0;
    z-index: 99;
}
.photo-in-text {
    width: 100%;
    height: auto;
}
@media only screen and (max-width: 800px)  {
    .cookie {
        font-size: 90%;
        height: 16rem;
    }

}

@media only screen and (max-width: 600px)  {
    .cookie {
        font-size: 70%;
        height: 18rem;
        button {
            font-size: 0.8rem;
        }
    }
    h1.site-logo a {
        font-size: 30px;
    }

    iframe {
        height: 300px;
    }
}
@media only screen and (max-width: 400px)  {
    .cookie {
        font-size: 70%;
        height: 20rem;
        button {
            font-size: .7rem;
            margin-top: 3%;
        }
    }
    .site-logo a {
        font-size: 35px;
    }

}
